/*********************************************
*
*		Super News Stylesheet
*
*		White     : #fff
*		Grey	  : #bbb
*		Header background: = #4054B2
*
*********************************************/

/*---------------------------------
*	Base 
-----------------------------------*/
body {

}

h1, h2, h3, h4, h5, h6 {

}

p {

}

a {

}

ol {

}

li {

}

/*-------------------------------
* Header
---------------------------------*/
.hero {
	background-color: #eeeeee;
	padding: 20px 0;
	color: #333333;
	text-align: center;
}

/*-------------------------------
* Logo
---------------------------------*/
.logo {
	font-size: 38px;
	font-weight: bold;
	text-transform: uppercase;
}
