/*********************************************
*
*		Super News Stylesheet
*
*		White     : #fff
*		Grey	  : #bbb
*		Header background: = #4054B2
*
*********************************************/

/*---------------------------------
*	Base 
-----------------------------------*/
body {

}

h1, h2, h3, h4, h5, h6 {

}

p {

}

a {

}

ol {
margin: 0;
padding: 0;
list-style-type: none;
}

li {

}

/*-------------------------------
* Header
---------------------------------*/
.hero {
	background-color: #eeeeee;
	padding: 20px 0;
	margin-bottom: 20px;
	color: #333333;
	text-align: center;
}

/*-------------------------------
* Logo
---------------------------------*/
.logo {
	font-size: 38px;
	font-weight: bold;
	text-transform: uppercase;
}

/*-------------------------------
* News
---------------------------------*/
.news {
	
}

.news-item {
	border-bottom: 1 px solid #777777;
	margin-bottom: 20px;
	padding-bottom: 10px; 
}

.news-link {
color: #333333;
font-size: 20px;
padding-left: 20px;	
}


/*-------------------------------
* Container
---------------------------------*/
.container {
	max-width: 800px;
	margin: 0 auto;

}
